<!-- templates/partials/device_status.html -->
<ul class="list-group list-group-flush">
    <li class="list-group-item d-flex justify-content-between align-items-center">
        Base de Datos (NetFlow)
        <span class="badge bg-secondary rounded-pill">{{ status.get('database', 'Desconocido') | safe }}</span>
    </li>
    <li class="list-group-item d-flex justify-content-between align-items-center">
        Captura NetFlow (nfcapd)
        <span class="badge bg-secondary rounded-pill">{{ status.get('nfcapd', 'Desconocido') | safe }}</span>
    </li>
    <li class="list-group-item d-flex justify-content-between align-items-center">
        Procesador de Flujos
        <span class="badge bg-secondary rounded-pill">{{ status.get('processor', 'Desconocido') | safe }}</span>
    </li>
</ul>
