[Unit]
Description=MikroTik Manager Service
After=network.target

[Service]
# Cambia el usuario si es necesario, pero www-data es común para servicios web
User=root
Group=root

# Directorio de trabajo donde se instalará la aplicación
WorkingDirectory=/opt/mikrotik-manager
# Comando para ejecutar la aplicación
ExecStart=/opt/mikrotik-manager/main.bin

# Reiniciar el servicio si falla
Restart=always

[Install]
WantedBy=multi-user.target