.badge {
    color: white !important;
}

[class*="bg-"] .badge {
    color: white !important;
}

[class*="bg-"] .text-white {
    color: white !important;
}

.table td, .table th {
    vertical-align: middle;
}